
.day {
  transition:1s;
  padding: 200px;
  
  background-color:white;
}
.night{
  transition:1s;
  padding: 200px;
  background-color:black;
  color:white;
}
#button{
  margin-top: 20px;
  border:1px solid purple;
  color:white;
  background-color:purple;
font-weight: lighter;
  padding: 15px 20px 15px 20px;
  
}
#button:hover{
 
  margin-left:10px;
  background-color:black;
  color:white;
  transition: 0.5s;
}

